$purple:#2b244d;
$white:#ffffff;
$pink:#f27bbb;
$blue:#5960f3;
$orange:#d5797f;
$light-blue:#8c7dd7;
$city_background:'./image/paris.jpg';


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//flex-box 
%center{
    display: flex;
    justify-content: center;
}
%align-column{
    display: flex;
    flex-direction: column;
}
%between{
    display: flex;
    justify-content: space-between;
}
%left{
    display: flex;
    justify-content: flex-start;
}

%align-center{
    display: flex;
    align-items:center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    %cityWeather_container{
        margin-left:2.5vw;
        margin-right:2.5vw;
        margin-top:3vh;
        border-radius:10px;
    }
    %cityBackground-size{
        width:95vw;
        height:32vh;

    }
    %forcastList-container{
        width:95vw;
    }
    %font-today{
        font-weight: 500;
        font-size:16px;
    }
    %font-cityWeatherDegree{
        font-size:40px;
    }
    %cityWeatherSituation{
        margin-top:-5vh;
        font-size:16px;
        font-weight:500;
    }
    %cityName{
        font-size:20px;
        font-weight: 500;
        margin-top:10vh;
        padding-right: 10vw;
        letter-spacing:2px; 
    }
    %font__supplement{
        font-weight:500;
    }
    %humid_wind{
        margin-top:1vh;
        p{
            margin-top:-1vh;
            display:flex;
            justify-content: center;
            font-size:12px;
        }
    }
    %twitter-context{
        font-weight:400;
        margin-top:2vw;
        padding-right:2vw;
        font-size:14px;
    }
    %twitter-title{
        font-size:14px;
        margin-left:2vw;
    }
    %twitter-margin{
        margin-left:10vw;
    }
    %font{
        font-size:12px;
    }
    .nav__background{
        height:8vh;
    }
    .main__background{
        height:92vh;
    }
    .cityWeather__weather{
        width:40%;
    }
    .forcastList__weatherImage{
        width:18vw;
    }
    
    .forcastList-container{
        display: flex;
        flex-direction: column;
    }
    .forcastListItem__container{
        margin-left:2vw;
    }
    .twitter-postContent{
        margin-left:5vw;
    }
        
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    %cityWeather_container{
        margin-left:2.5vw;
        margin-right:2.5vw;
        margin-top:5vh;
        border-radius:10px;
    }
    %cityBackground-size{
        width:95vw;
        height:35vh;

    }
    %forcastList-container{
        width:95vw;
    }
    %font-today{
        font-weight: 500;
        font-size:16px;
    }
    %font-cityWeatherDegree{
        font-size:40px;
    }
    %cityWeatherSituation{
        margin-top:-5vh;
        font-size:16px;
        font-weight:500;
    }
    %cityName{
        font-size:20px;
        font-weight: 500;
        margin-top:10vh;
        padding-right: 10vw;
        letter-spacing:2px; 
    }
    %font__supplement{
        font-weight:500;
    }
    %humid_wind{
        margin-top:2vh;
        p{
            margin-top:-1vh;
            display:flex;
            justify-content: center;
            font-size:14px;
        }
    }
    %twitter-context{
        font-weight:400;
        margin-top:2vw;
        padding-right:2vw;
        font-size:14px;
    }
    %twitter-title{
        font-size:14px;
        margin-left:2vw;
    }
    %twitter-margin{
        margin-left:2vw;
    }
    %font{
        font-size:14px;
    }
    .nav__background{
        height:10vh;
    }
    .main__background{
        height:90vh;
    }
    .cityWeather__weather{
        width:33%;
    }
    .forcastList__weatherImage{
        width:14vw;
    }
    
    .forcastList-container{
        display: flex;
        justify-content: space-between;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    %cityWeather_container{
        margin-left:7.5vw;
        margin-right:7.5vw;
        margin-top:10vh;
        border-radius:10px;
    }
    %cityBackground-size{
        width:85vw;
        height:35vh;

    }
    %forcastList-container{
        width:85vw;
    }
    %font-today{
        font-weight: 500;
        font-size:18px;
        margin-top:4vh;
    }
    %font-cityWeatherDegree{
        font-size:40px;
    }
    %cityWeatherSituation{
        margin-top:-2vh;
        font-size:16px;
        font-weight:500;
    }
    %cityName{
        font-size:20px;
        font-weight: 500;
        margin-top:10vh;
        padding-right: 10vw;
        letter-spacing:2px; 
    }
    %font__supplement{
        font-weight:500;
    }
    %humid_wind{
        margin-top:2vh;
        p{
            margin-top:-1vh;
            display:flex;
            justify-content: center;
        }
    }
    %twitter-title{
        font-size:18px;
    }

    %twitter-context{
        font-weight:400;
        margin-top:2vw;
        padding-right:2vw;
        font-size:16px;

    }
    %twitter-margin{
        margin-left:2vw;
    }
    %font{
        font-size:18px;
    }
    .nav__background{
        height:10vh;
    }
    .main__background{
        height:90vh;
    }
    .cityWeather__weather{
        width:40%;
    }
    .forcastList-container{
        display: flex;
        justify-content: space-between;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    %cityWeather_container{
        margin-left:10vw;
        margin-right:10vw;
        margin-top:8vh;
        border-radius:10px;
    }
    %cityBackground-size{
        width:80vw;
        height:35vh;

    }
    %forcastList-container{
        width:80vw;
    }
    %font-today{
        font-weight: 500;
        font-size:30px;
    }
    %font-cityWeatherDegree{
        font-size:60px;
    }
    %cityWeatherSituation{
        font-size:28px;
        font-weight:500;
    }
    %cityName{
        font-size:20px;
        font-weight: 500;
        margin-top:10vh;
        padding-right: 10vw;
        letter-spacing:2px; 
    }
    %font__supplement{
        font-weight:500;
    }
    %humid_wind{
        margin-top:2vh;
        p{
            font-size:24px;
            margin-top:-1vh;
            display:flex;
            justify-content: center;
        }
    }

    %twitter-title{
        font-size:18px;
    }

    %twitter-context{
        font-weight:400;
        margin-top:2vw;
        padding-right:2vw;
        font-size:16px;

    }
    %twitter-margin{
        margin-left:2vw;
    }
    
    %font{
        font-size:18px;
    }
    .nav__background{
        height:10vh;
    }
    .main__background{
        height:90vh;
    }
    .cityWeather__weather{
        width:33%;
    }
    .forcastList-container{
        display: flex;
        justify-content: space-between;
    }
    .forcastList__weatherImage{
        width:12vw;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    %cityWeather_container{
        margin-left:15vw;
        margin-right:15vw;
        margin-top:8vh;
        border-radius:10px;
    }
    %forcastList-container{
        width:70vw;
    }
    %cityBackground-size{
        width:70vw;
        height:35vh;

    }
    %font-today{
        font-weight: 500;
        font-size:18px;
    }
    %font-cityWeatherDegree{
        font-size:50px;
    }
    %cityWeatherSituation{
        margin-top:-6vh;
        font-size:20px;
      
    }
    %cityName{
        font-size:25px;
        font-weight: 500;
        margin-top:10vh;
        padding-right: 10vw;
        letter-spacing:2px; 
    }
    %font__supplement{
        font-weight:500;
        letter-spacing:1px; 
    }
    %humid_wind{
        p{
            font-size:20px;
            margin-top:-2vh;
            display:flex;
            justify-content: center;
        }
    }

    %twitter-title{
        font-size:18px;
    }

    %twitter-context{
        font-weight:400;
        margin-top:2vw;
        padding-right:2vw;
        font-size:16px;

    }
    %twitter-margin{
        margin-left:2vw;
    }
    
    %listItem-padding{
        padding-right:1vw;
        padding-left:1vw;

    }

    %font{
        font-size:18px;
    }
    .nav__background{
        height:10vh;
    }
    .main__background{
        height:90vh;
    }
    .cityWeather__weather{
        width:33%;
    }
    .forcastList-container{
        display: flex;
        justify-content: space-between;
    }
    .forcastList__weatherImage{
        width:8vw;
    }
}

@media only screen and (min-width: 1500px) {
    %cityWeather_container{
        margin-left:20vw;
        margin-right:20vw;
        margin-top:10vh;
        border-radius:10px;
    }
    %cityBackground-size{
        width:60vw;
        height:35vh;
    }
    %forcastList-container{
        width:60vw;
    }
    %font-today{
        font-weight: 700;
        font-size:25px;
    }
    %font-cityWeatherDegree{
        font-size:90px;
    }
    %cityWeatherSituation{
        font-size:25px;
        margin-top:-8vh;
    }
    %cityName{
        font-size:35px;
        font-weight: 600;
        margin-top:8vh;
        padding-right: 10vw;
        letter-spacing:4px; 
    }
    
    %font__supplement{
        font-weight:500;
        letter-spacing:2px; 
    }
    %humid_wind{
        margin-top:2vh;
        p{
            margin-top:-1vh;
            display:flex;
            justify-content: center;
        }
    }

    %twitter-title{
        font-size:18px;
    }
    %twitter-context{
        font-weight:500;
        margin-top:2vw;
        padding-right:1vw;
        font-size:20px;
    }
    %twitter-margin{
        margin-left:3vw;

    }

    %listItem-padding{
        padding-right:4vw;
        padding-left:1vw;

    }

    %font{
        font-size:18px;
    }
    .nav__background{
        height:10vh;
    }
    .main__background{
        height:90vh;
    }
    .cityWeather__weather{
        width:33%;
    }
    .forcastList-container{
        display: flex;
        justify-content: space-between;
    }
    .forcastList__weatherImage{
        width:6vw;
    }



}



body{
    font-family: 'Roboto', sans-serif;
}
//navigation
.nav__background{
    width:100vw;
    // height:10vh;
    background:$purple;
}
.nav__today{
    @extend %center;
    color:$white;
    h4{
        font-family: 'Roboto', sans-serif;
        @extend %font-today
       
    }
    
}

//main-body
.main__background{
    background-image: linear-gradient(0deg,$blue,$pink);
    // height:90vh;
    width: 100vw;
    position: fixed;
    .main__background--circle{
        position: fixed;
        height: 130vh;
        width: 130vh;
        overflow: hidden;
        margin-left: 33.5vw;
        background-image: linear-gradient(0deg,$light-blue,$orange);
        border-radius: 50%;
        display: inline-block;

    }
    
}

//city weather show
.cityWeather__container{
    @extend %cityWeather_container;
    position: relative;
    box-shadow: 3px 5px 3px rgba(0,0,0,0.2);

    
  
    .cityWeather__background{
        background-image:url($city_background);
        background-size:cover;
        border-radius: 10px 10px 0 0;
        @extend %cityBackground-size;
        overflow: hidden;
        box-sizing: border-box;
        @extend %between;
        .cityWeather__weather{
            // width:33%;
            background-color:rgba(0,0,0,0.2);
            color:$white;
         
            
            .cityWeather__degree{
                margin-top:0vh;
                padding-top:7vh;
                
                @extend %font-cityWeatherDegree;
                @extend %center;
    
            }
            .cityWeather__situation{
                
                @extend  %cityWeatherSituation;
                margin-right:1vw;
                @extend %center;
            }
            .cityWeather__supplement{
                @extend %center;
                @extend %font__supplement;
                .cityWeather__humidity{
                    @extend %align-column;
                    margin-right:1.5vw;
                    @extend %humid_wind;
                    
                }
                hr{
                    padding: 0;
                    margin: 0;
                    color:$white;
                }
                .cityWeather__wind{
                    @extend %align-column;
                    margin-left:3vw;
                    @extend %humid_wind;
                }
            }
        }
        
        
    }
    .cityWeather__city{
        .cityWeather__cityName{
            @extend %cityName;
            color: $white;
            .underline{
                height:3px;
                position: relative;
                left:1.2rem;
                margin-top:5px;
                bottom:0;
                width:50%;
                background:$white;
            }
        }
    }

    
}

//loading animation
.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #222;
}
.loading {
    $colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
    display: flex;
    justify-content: center;
    .dot {
      position: relative;
      width: 2em;
      height: 2em;
      margin: 0.8em;
      border-radius: 50%;
  
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        animation: wave 2s ease-out infinite;
      }
  
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background: nth($colors, $i);
  
          &::before {
            animation-delay: $i * 0.2s;
          }
        }
      }
    }
  }
  
  @keyframes wave {
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
  }
  


//forcast list
.forcastList-container{
    
    @extend %forcastList-container;
    background-color:$white;
    // @extend %between;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5vh;
    padding-top: 5vh;
}



//present twitters
.twitter-container{
    @extend %align-column;
    .twitter-title{
        @extend %twitter-title;
        font-weight: 500;
        @extend %center;
        
        span{
            color:Dodgerblue;
            margin-right:10px;
            font-size:22px;
        }
    
    }
    .twitter-post{
        .twitter-postContent{
            @extend %left;
            @extend %twitter-margin;
           
            .twitter-userImage{
                width:3vw;
                height:3vw;
                border-radius: 50%;
                margin: 2vw 2vw 0 0;
            }
            .twitter-context{
                @extend %align-center;
                @extend %twitter-context;
                
            }
        }
        
    }
}


//forcast-list
.forcastListItem__container{
    @extend %left;
    @extend %listItem-padding;
    
    .forcastList__Item{
        @extend %align-column;
        
        .forcastList__Week{
            @extend %center;
            font-weight: 500;
            @extend  %font;
           
            padding-bottom:3vh;
        }
        .forcastList__weatherImage{
            @extend %center;
            padding-bottom:1vh;

        }
        .forcastList__ItemDegree{
            @extend %center;
            font-weight: 500;
            @extend  %font;
            padding-bottom:1vh;
        }
        .forcastList__weather{
            @extend %center;
            font-size: 14px;
            font-weight: 500;

        }
    }
}

